*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    --background:antiquewhite;
    --background-Button:aqua;

    font-family: Monospace,sans-serif;
    overflow: hidden;
}

#container{
    height: calc( 100vh);
    background-color: var(--background);
}
#Again{
    height: 50px;
    width: 200px;

    background-color: var(--background-Button);
    position: absolute;

    left: 0;
}

#check{
height: 50px;
width: 200px;

background-color:var(--background);
}

input{
    height: 100px;
    width: 200px;

    font-size: 45px;
    text-align: center;
}

#h1{ 
    text-align: center;
    height: 40vh;
    padding: 10%;
}

h3{text-align: end;
margin: 0% 1%;
}
hr{
    height: 5px;
    background-color: black;
}

#box{
height: 100px;
width: 100px;

background-color: var(--background);
text-align: center;

padding: 30px 0px;

font-size: 34px;
z-index: 3;

position: absolute;
top:45vh;
left: 50%;
transform: translate(-50% , -50%);

border:3px solid black ;
}

#last-box{
    height: 60vh;

    background-color: var(--background-Button);

    display:flex;
    justify-content: center;
    align-items: center;
}

#part-1{
    height: 40vh;
    width: 40vw;

  text-align: center;
  padding: 5% 0%;
  
}

#part-2{
  

    height: 45vh;
    width: 50vw;

    text-align: center;
    padding: 5% 0%;


}


@media(max-width:800px){
  h1{
      font-size: 25px;
  }  
}
@media(max-width:750px){
    h1{
        font-size: 20px;
    }  

#check{
        height: 45px;
        width: 172px;
    }
        
   input{
         height: 80px;
         width: 170px;
         font-size: 35px;        
     }
         
 #part-1{
     text-align:center;
     padding: 12% 1%;
   }
            
 #part-2{
    text-align: center;
    padding: 12% 1%;
  }
 #Again{
   height: 50px;
   width: 150px;
 }

  }

  @media(max-width:600px){
      h1{
          font-size: 17px;
      }
    #part-1{
        padding-right: 10%;  
        }      
      #part-2{
       padding-left:5% ;
      }
  }

  @media(max-width:400px){
   h1{
     font-size: 15px;
   }
   #check{
    height: 40px;
    width: 140px;
    }
    
    input{
    height: 70px;
    width: 140px;
    font-size: 35px;        
    }
    #part-1{
         padding-right: 5%;
       
      }

      #part-2{
         padding-left: 5%;
       
      }
    
  }

  